@import './variables.css';
@import './animations.css';

@font-face {
    font-family: CascadiaCode;
    src: url("./../fonts/CascadiaCode.ttf");
}

/* configs */
html,
body {
    margin: 0;
    font-size: large;
    color: var(--base-text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: CascadiaCode;
    background-color: var(--background-color);
    color: var(--base-text-color);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* */


.text-h1 {
    font-size: clamp(40px, 8vw, 80px);
}

.text-h2 {
    font-size: xxx-large;
}

.text-h3 {
    font-size: xx-large;
}

.text-link {
    color: var(--primary-text-color-dark);
    position: relative;
}

.text-accent {
    color: var(--primary-text-color-dark);
}

.text-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--primary-text-color-dark);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.text-link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.text-link:hover::after,
.text-link:focus::after {
    transform: scale(1);
}

.text-p {
    line-height: 1.5;
    font-size: large;
}

.chips {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 20px;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.678);
}

.chips-icon {
    display: flex;
    flex-direction: row;
    background: rgba(0, 227, 162, 0.9);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    align-items: center;
}

.chips-icon-svg {
    width: 25px;
    filter: brightness(0) invert(1);
}

.chips-icon-name {
    padding-left: 5px;
}

.icon-button {
    color: white;
    transition: color 200ms;
}

.icon-button:hover {
    cursor: pointer;
    color: var(--primary-text-color-dark);
}

.outline-button {
    background: none;
    color: var(--primary-text-color-dark);
    padding: 15px 40px;
    border: solid 2px;
    font-size: inherit;
    border-radius: 5px;
    transition: background 200ms;
}

.outline-button:hover {
    cursor: pointer;
    background: rgba(0, 227, 162, 0.1);
}

.titulo {
    margin-bottom: 20px;
}

.text-link-secondary {
    color: rgba(33, 34, 36, 0.6);
    transition: color 200ms;
}

.text-link-secondary:hover {
    color: var(--primary-text-color-dark);
}