@import './variables.css';
@import './animations.css';

@font-face {
    font-family: CascadiaCode;
    src: url("./../fonts/CascadiaCode.ttf");
}

@font-face {
    font-family: LatoBlack;
    src: url("./../fonts/Lato-Black.ttf");
}

@font-face {
    font-family: LatoRegular;
    src: url("./../fonts/Lato-Regular.ttf");
}

/* configs */
html,
body {
    margin: 0;
    color: var(--text);
    font-size: var(--default-size);

}

@media screen and (max-width: 992px) {

    html,
    body {
        font-size: var(--mobile-size);

    }
}

p,
span,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: LatoRegular;
    background-color: var(--background);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* */


h1 {
    font-family: 'LatoBlack';
    font-size: clamp(var(--font-xxxxl), 8vw, var(--font-super-xxl));
}

h2 {
    font-size: var(--font-xxxxl);
}

h3 {
    font-size: var(--font-xxxl);
}

h4 {
    font-size: var(--font-xl);
    padding: 3px 0px;
    color: var(--text-opacity);
}

p {
    line-height: 1.5;
    font-size: var(--font-xl);
    color: var(--text-opacity);
}



ul {
    line-height: 1.5;
    font-size: var(--font-xl);
    color: var(--text-opacity);
}

.text-link {
    color: var(--primary);
    position: relative;
}

.text-accent {
    color: var(--primary);
}

.text-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--primary);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.text-link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.text-link:hover::after,
.text-link:focus::after {
    transform: scale(1);
}



.chips {
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 20px;
    flex-wrap: wrap;
    color: var(--primary);
}

.chips-icon {
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    align-items: center;

}

.chip-span {
    font-size: var(--font-m);
}

.chips-icon-svg {
    width: 25px;
    filter: brightness(0) invert(.5);
}

.chips-icon-name {
    padding-left: 5px;
    font-size: var(--font-m);
    color: var(--text-opacity);
}

.icon-button {
    color: white;
    transition: color 200ms;
    font-size: var(--font-xxl);
}

.icon-button:hover {
    cursor: pointer;
    color: var(--primary);
}

.outline-button {
    display: flex;
    background: linear-gradient(to right top,
            var(--primary),
            var(--secondary) 50%,
            var(--tertiary) 100%);
    color: var(--text);
    font-size: var(--font-xl);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background 200ms;
    padding: 2px;
    transition: 400ms;
}

.outline-button span {
    padding: 15px 40px;
    background: var(--background);
    border-radius: 5px;
    transition: 400ms;
}

.outline-button:hover {
    cursor: pointer;
}

.outline-button:active {
    transform: scale(0.9);
}

.outline-button:hover span {
    background: var(--background-light);
}

.contact-button {
    display: flex;
    background: linear-gradient(to right top,
            var(--primary),
            var(--secondary) 50%,
            var(--tertiary) 100%);
    color: var(--text);
    font-size: var(--font-xl);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background 200ms;
    padding: 2px;
    transition: 400ms;
    animation: shadow-animation 5s ease infinite;
}

.contact-button span {
    padding: 15px 40px;
    background: var(--background);
    border-radius: 5px;
    transition: 400ms;
}

.contact-button:hover {
    cursor: pointer;
}

.contact-button:active {
    transform: scale(0.9);
}

.contact-button:hover span {
    background: var(--background-light);
}

.text-link-secondary {
    color: var(--text-opacity);
    transition: color 200ms;
}

.text-link-secondary:hover {
    color: var(--primary);
}

.gradient-text {
    background: linear-gradient(to right,
            var(--primary),
            var(--secondary),
            var(--tertiary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-mono {
    background: linear-gradient(to right,
            var(--primary-dark),
            var(--primary-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-titulo {
    margin-bottom: 20px;
    font-weight: bold;
}