:root {
    --base-color: #212224;
    --base-color-dark: #2c2c2c;
    --primary-text-color: #80ffdb;
    --primary-text-color-dark: #00e3a2;
    --primary-text-color-darken: #02c990;
    --background-color: #fffafa;
    --background-color-dark: #f0f0f0;
    --base-text-color: #2e2f31;
    --base-dark-text-color: white;

    /* Colors */
    --primary: #06d6a0;
    --primary-light: #80ffdb;
    --primary-dark: #02c990;
    --secondary: #ef476f;
    --tertiary: #ffc43d;
    /* */

    --background: #1d1d1d;
    --text: white;
    --text-opacity: rgba(255, 255, 255, .6);

    /* Glow variables */
    --primary-glow: rgba(6, 214, 160, .5);
    --secondary-glow: rgba(239, 71, 111, .5);
    --tertiary-glow: rgba(255, 196, 61, .5);
    /* */

    /* Tabs variables */
    --tabs-border: rgba(255, 255, 255, 0.1);
    --tabs-hover: rgba(255, 255, 255, 0.05);
    /*  */
}