:root {
    --base-color: #212224;
    --primary-text-color: #80ffdb;
    --primary-text-color-dark: #00e3a2;
    --background-color: #fffafa;
    --background-color-dark: #f0f0f0;
    --base-text-color: #2e2f31;
}